body {
	text-align: center;
	margin-top: 10%;
	position: relative;
}

h1 {
	color: blue;
}

li {
	text-align: center;
	padding: 4px;
	list-style-position: inside;
}

ul {
	display: inline-block;
	text-align: center;
}

